<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master}">
>
<head>
    <meta charset="UTF-8">
    <title>Customer list </title>
</head>
<body>

<div class="d-sm-flex align-items-center justify-content-between mb-4" layout:fragment="page-heading">
    <h1 class="h3 mb-0 text-primary">Customers list</h1>

    <div class="divider"></div>

    <!--/*@thymesVar id="customerParams" type="com.huy.crm.dto.CustomerParams"*/-->
    <form class="d-flex form-inline mr-auto my-2 my-md-0 mw-100 navbar-search" id="searchForm" th:object="${customerParams}">
        <label for="sort" class="mr-2">Sort by:</label>

        <div class="select-wrapper">
            <select class="form-control pr-5 mr-3" id="sort" name="sort" th:field="*{sort}" onchange="this.form.submit()">
                <option value="default">Default</option>
                <option value="firstNameAsc">First name ASC</option>
                <option value="lastNameAsc">Last name ASC</option>
                <option value="emailAsc">Email ASC</option>
                <option value="emailDesc">Email DESC</option>
            </select>
        </div>

        <div class="input-group mr-3">
            <input type="text" name="search" class="form-control small" placeholder="Search for..." th:field="*{search}">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>

        <a th:if="${param.search}" th:href="@{list}" class="btn btn-warning">Clear</a>
    </form>

    <a th:href="@{new}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fa-solid fa-plus"></i> Create new customer</a>
</div>

<main class="col-12" layout:fragment="content">
    <div>
        <table class="table table-striped">
            <thead class="table-primary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col" style="width: 10%">Actions</th>
            </tr>
            </thead>
            <tbody class="table-light">
            <tr th:each="customer, iterStat: ${customers}">
                <th scope="row" th:text="${iterStat.index + 1}"></th>
                <!--/*@thymesVar id="customer" type="com.huy.crm.entity.Customer"*/-->
                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
                <td th:text="${customer.email}"></td>
                <td>
                    <a th:href="@{view/{id}(id=${customer.id})}" class="text-decoration-none mr-3">
                        <i class="fa-solid fa-eye text-info"></i>
                    </a>
                    <a th:href="@{edit/{id}(id=${customer.id})}" class="text-decoration-none mr-3">
                        <i class="fa-solid fa-pen-to-square text-warning"></i>
                    </a>

                    <a th:onclick="|confirmDelete(${customer.id})|" class="text-decoration-none text-danger "
                       style="cursor: pointer">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <form id="deleteForm" method="post"></form>
</main>

<script layout:fragment="myScript" th:inline="javascript">
    function confirmDelete(id) {
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                const url = /*[[@{/customer/delete/}]]*/ '';
                const deleteForm = document.getElementById('deleteForm');
                deleteForm.action = url + id;
                deleteForm.submit();
            }
        });
    }
</script>

</body>
</html>