<?xml version="1.0" encoding="utf-8"?>

<Configuration status="info">
    <Properties>
        <Property name="LOG_PATH">D:\Aptech\JavaEE\crm\src\main\java\com\huy\crm</Property>
        <Property name="LOG_PATTERN">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>

    <Appenders>
        <File name="File" fileName="${LOG_PATH}/crm.log" append="true" immediateFlush="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>