<!doctype html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/resources/css/style.css}" rel="stylesheet" />
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Ebook</title>
</head>
<body>
<nav layout:replace="~{layout/common :: navbar}"></nav>
<div class="container">
    <div class="row mt-3">
        <div class="col-3">
            <div layout:insert="~{layout/common :: sidebar}"></div>
        </div>
        <div class="col-9">
            <div layout:fragment="content"></div>
        </div>
    </div>

</div>

<script th:src="@{/resources/js/bootstrap.bundle.min.css}"></script>
</body>
</html>